# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Q1822\Classwork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
